HELP.md
NotaPlus-back/target/
!.mvn/wrapper/maven-wrapper.jar
!NotaPlus-back/**/src/main/**/target/
!NotaPlus-back/**/src/test/**/target/

### STS ###
NotaPlus-back/.apt_generated
NotaPlus-back/.classpath
NotaPlus-back/.factorypath
NotaPlus-back/.project
NotaPlus-back/.settings
NotaPlus-back/.springBeans
NotaPlus-back/.sts4-cache

### IntelliJ IDEA ###
NotaPlus-back/.idea
NotaPlus-back/*.iws
NotaPlus-back/*.iml
NotaPlus-back/*.ipr

### NetBeans ###
NotaPlus-back/nbproject/private/
NotaPlus-back/nbbuild/
NotaPlus-back/dist/
NotaPlus-back/nbdist/
NotaPlus-back/.nb-gradle/
NotaPlus-back/build/
!NotaPlus-back/**/src/main/**/build/
!NotaPlus-back/**/src/test/**/build/

### VS Code ###
NotaPlus-back/.vscode/
